{% extends 'base.html.twig' %}

{% block title %}E-mail de réinitialisation envoyé{% endblock %}

{% block body %}
    <div class="max-w-md mx-auto my-8 bg-white p-8 rounded-md shadow-md">
        <p class="text-gray-700">
            Si un compte correspondant à votre adresse e-mail existe, un e-mail vient d'être envoyé. Cet e-mail contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
            Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>

        <p class="text-gray-700 mt-4">Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de spam ou <a href="{{ path('app_forgot_password_request') }}" class="text-blue-500 hover:underline">réessayer</a>.</p>
    </div>
{% endblock %}
