{% extends 'base.html.twig' %}

{% block title %}Modifier la tâche{% endblock %}

{% block body %}
    <div class="max-w-3xl mx-auto my-8">
        <h1 class="text-3xl font-bold mb-6">Modifier la tâche</h1>

        {{ include('task/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('app_task_index') }}" class="text-blue-500 hover:underline mt-4 inline-block">
            <i class="fas fa-arrow-left"></i> Retour à la liste
        </a>

        {{ include('task/_delete_form.html.twig') }}

    </div>
{% endblock %}
