{% extends 'base.html.twig' %}

{% block title %}Index des employés{% endblock %}

{% block body %}
    <div class="max-w-3xl mx-auto my-8">
    <h1 class="text-center text-3xl my-10">Index des employés</h1>

    <table id="myTable" class="min-w-full border border-gray-300 text-center my-5">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b w-1/4">Nom</th>
                    <th class="py-2 px-4 border-b w-1/4">Prénom</th>
                    <th class="py-2 px-4 border-b w-1/4">Email</th>
                    <th class="py-2 px-4 border-b w-1/4">Durée de travail ce mois ci</th>
                </tr>
            </thead> 
            {% for employee in employees %}
            <tbody>
                <tr>
                    <td class="py-2 px-4 border-b w-1/4">{{ employee.lastname }}</td>
                    <td class="py-2 px-4 border-b w-1/4">{{ employee.firstname }}</td>
                    <td class="py-2 px-4 border-b w-1/4">{{ employee.email }}</td>
                    <td class="py-2 px-4 border-b w-1/4">{{ employee.monthWorkTime ? employee.monthWorkTime.format('H:i:s') : '00:00:00' }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}
