{% extends 'base.html.twig' %}

{% block title %}Modifier la session de travail{% endblock %}

{% block body %}
    <div class="max-w-3xl mx-auto my-8">
        <h1 class="text-3xl font-bold mb-6">Modifier la session de travail</h1>

        {{ include('work_session/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('app_work_session_index') }}" class="text-blue-500 hover:underline inline-block">
            <i class="fas fa-arrow-left"></i> Retour à la liste
        </a>

        {{ include('work_session/_delete_form.html.twig') }}
    </div>
{% endblock %}
